<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mousam_App</title>
    <!-- 
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    -->
    <link rel="stylesheet" href="~/Mousam_App.styles.css" asp-append-version="true" />
    <!-- Link Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Moment JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <!-- Moment JS TimeZone -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.45/moment-timezone-with-data.js"></script>



    <link rel="stylesheet" href="~/css/date-slider-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/range-slider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css">

</head>
<body>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

</body>
</html>
