@tailwind base;
@tailwind components;
@tailwind utilities;

.r
{
	border: 2px solid red;
}
/* Google Map CSS */
.map__box {
	display: none;
	width: 50vw;
	margin: 1rem;
	margin-left: 0;
	border-radius: 15px;
	filter: hue-rotate(-45deg);
}
.map__box:focus {
	outline: 2px solid transparent;
	border: 2px solid transparent;
}
/* Weather App CSS */
body {
	/*	border: 2px solid white;*/
	user-select: none;
	background-image: url('../assets/gradient-bg.jpg');
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
}
.weather__container {
	background-color: rgba(255, 255, 255, 0.6);
	border-bottom: 2.5px solid white;
	box-shadow: 0px 10px 20px #5155EC40;
}
.weather__box {
	background-color: rgba(232, 230, 255, 0.6);
}
.city__name {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	transition: all 0.1s ease-out;
}
.city__name:hover {
	background-color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}
.search__bar {
	left: 50%;
	transform: translateX(-50%) translateY(-100px);
	/*	background-color: rgba(255, 255, 255, 0.7);*/
	background-image: linear-gradient(to left, #f5f4fd99, #CFD3F9);
	border: 1px solid white;
	box-shadow: 0px 10px 20px #5155EC10;
	filter: blur(1) drop-shadow(0px 10px 10px #5155EC60);
	transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	/*		display: none;*/
}
.search__bar input
{
	background-color: white;
	height: 40px;
	width: 60vw;
/*	border: 1px solid #5155EC40;*/
}
.search__bar button {
	background-image: linear-gradient(to right, #5372F0, #7F7EFE);
	color: white;
	height: 40px;
}
.search__bar.active {
/*		display: block;*/
	transform: translateX(-50%) translateY(0px);
	opacity: 100%;
}
.search__bar--input:focus
{
	outline: 1px solid #5155EC40;
}
.temperature {
	font-size: 12rem;
	line-height: 10rem;
}
.sky__image {
	filter: drop-shadow(-10px 10px 20px #45439570);
}
.sky__image-2 {
	filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px -2px 0 white);
}
.error__alert {
	/*	display: none;*/
	position: absolute;
	width: 90vw;
	margin-top: 1rem;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%) translateY(-100px);
	opacity: 0;
}
.error__alert.active {
	/*	display: block;*/
	transform: translateX(-50%) translateY(-100px);
	opacity: 1;
	animation-name: slideup;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
}

@keyframes slideup
{
	0% {
		transform: translateX(-50%) translateY(-100px);
		opacity: 0;
	}
	10%
	{
		transform: translateX(-50%) translateY(0px);
		opacity: 1;
	}
	50% {
		transform: translateX(-50%) translateY(0px);
		opacity: 1;
	}
	80% {
		transform: translateX(-50%) translateY(0px);
		opacity: 1;
	}
	100%
	{
		opacity: 0;transform: translateX(-50%) translateY(-100px);
		opacity: 0;
	}
}